
body{
  background-color: black;
}
header{
  display: none;
}
h1{
  color: white;
}
div#accFCard{
  display: none;
}
div#athCard{
  display: none;
}
div#accSCard{
  display: none;
}
div#campSCard{
  display: none;
}
div#resHCard{
  display: none;
}
div#diningCard{
  display: none;
}
div#stuRCard{
  display: none;
}
div.popup{
  display: none;
}

.generalHover{
  display: none;
}
